<ion-header class="ion-no-border header-inacap">
    <div class="top-section">
        <div class="header-content">
            <ion-buttons slot="start" class="menu-btn-container">
                <ion-back-button [defaultHref]="backUrl" color="light"></ion-back-button>
            </ion-buttons>

            <div class="logo-container">
                <img src="assets/icon/logo-inacap-60-v2.png" alt="Logo Inacap" class="logo-placeholder">
            </div>

            <div class="header-text">
                <span class="sede-text" [innerHTML]="title"></span>
            </div>

            <ion-button fill="clear" class="header-refresh-btn" (click)="triggerRefresh()">
                <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-header>