<ion-menu contentId="admin-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Admin Panel</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <!-- Seccion Contenido (Solo Content Admin) -->
            <ion-menu-toggle auto-hide="false" *ngIf="authService.isContentAdmin">
                <ion-item routerLink="/admin/historias" routerDirection="root" lines="none">
                    <ion-icon slot="start" name="time"></ion-icon>
                    <ion-label>Línea de Tiempo</ion-label>
                </ion-item>

                <ion-item routerLink="/admin/entrevistas" routerDirection="root" lines="none">
                    <ion-icon slot="start" name="videocam"></ion-icon>
                    <ion-label>Entrevistas</ion-label>
                </ion-item>


                <ion-item routerLink="/admin/proyectos" routerDirection="root" lines="none">
                    <ion-icon slot="start" name="rocket"></ion-icon>
                    <ion-label>Proyectos (Presente)</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <!-- Seccion Usuarios (Solo SuperAdmin) -->
            <ion-menu-toggle auto-hide="false" *ngIf="authService.isSuperAdmin">
                <ion-item routerLink="/admin/usuarios" routerDirection="root" lines="none">
                    <ion-icon slot="start" name="people"></ion-icon>
                    <ion-label>Usuarios</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-item button (click)="logout()" lines="none" class="logout-item">
                <ion-icon slot="start" name="log-out" color="danger"></ion-icon>
                <ion-label color="danger">Cerrar Sesión</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<div id="admin-content">
    <ion-router-outlet></ion-router-outlet>
</div>