<footer class="v2-footer">
    <!-- Spacer para el <app-fan-menu> que flotará animadamente justo aquí -->
    <div class="footer-spacer"></div>

    
    <div class="footer-brand" (click)="onSecretClick()">
        <span class="brand-text">{{ 'FOOTER.BRAND' | translate }}</span>
        <span class="brand-year">{{ 'FOOTER.ANNIVERSARY' | translate }}</span>
    </div>

    
    <button class="footer-btn info-btn" aria-label="Información" (click)="openOptions($event)">
        <ion-icon name="information-circle-outline"></ion-icon>
    </button>
</footer>