<div class="animated-background">
  <!-- Grupo Superior Derecho -->
  <div class="shape-group top-right">
    <div class="line line-1 dest"></div>
    <div class="line line-2 dest"></div>
    <div class="line line-3 dest"></div>
    <div class="shape square red-solid sq-1 bounce-1"></div>
    <div class="shape square gray-glass sq-2 bounce-2"></div>
    <div class="shape square outline sq-3 bounce-3"></div>
    <div class="shape triangle red-solid tr-1 rotate-1"></div>
    <div class="shape triangle gray-glass tr-2 rotate-2"></div>
  </div>

  <!-- Grupo Inferior Izquierdo -->
  <div class="shape-group bottom-left">
    <div class="line line-4 dest"></div>
    <div class="line line-5 dest"></div>
    <div class="shape square red-solid sq-4 bounce-2"></div>
    <div class="shape square gray-glass sq-5 bounce-3"></div>
    <div class="shape square red-glass sq-6 bounce-1"></div>
    <div class="shape square outline sq-7 bounce-2"></div>
    <div class="shape triangle gray-glass tr-3 rotate-1"></div>
    <div class="shape triangle red-solid tr-4 rotate-2"></div>
    <div class="shape square red-glass sq-8 bounce-1"></div>
    <div class="shape triangle red-solid tr-5 rotate-2"></div>
  </div>
</div>
