<section class="gallery-section">
    <div class="gallery-section-header">
        <div class="gallery-icon-wrapper">
            <ion-icon name="bulb-outline"></ion-icon>
        </div>
        <div class="gallery-title-group">
            <h2 class="gallery-title">{{ 'FUTURO.PROJECTS_TITLE' | translate }}</h2>
            <p class="gallery-subtitle">{{ 'FUTURO.PROJECTS_SUBTITLE' | translate }}</p>
        </div>
    </div>

    <div class="projects-grid-container" style="margin-top: 30px;">
        <swiper-container slides-per-view="auto" space-between="20" free-mode="true" speed="2500" autoplay="true" autoplay-delay="2000" autoplay-disable-on-interaction="false" class="mini-projects-swiper">
            <swiper-slide class="mini-slide" *ngFor="let proyecto of proyectos">
                <div class="mini-bento glass-panel">
                    <div class="mini-bento-top">
                        <div class="mini-bento-img" [style.backgroundImage]="'url(' + proyecto.imagen + ')'"></div>
                        <div class="mini-bento-pill">
                            <ion-icon [name]="proyecto.icono" style="margin-right: 4px; vertical-align: text-bottom;"></ion-icon>
                            {{ proyecto.categoria }}
                        </div>
                    </div>
                    
                    <div class="mini-bento-bottom">
                        <h3 class="mini-title">{{ proyecto.titulo }}</h3>
                        <p class="mini-desc">{{ proyecto.descripcion }}</p>
                        
                        <div class="mini-footer">
                            <span class="mini-footer-text">{{ 'FUTURO.VIEW_PROJECT' | translate }}</span>
                            <ion-icon class="mini-footer-icon" name="arrow-forward-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>
