<section class="hero-section">
    <div class="hero-context-label">
        <ion-icon name="rocket-outline" class="hero-mini-icon"></ion-icon>
        <span class="hero-label-text">EXPLORA HORIZONTES</span>
    </div>

    <div class="hero-title-container">
        <h1 class="hero-title-masked">
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDrcRQrlCymoI4YLHK6-pKTlI2Q4ur08JMn1hN6cmPQ1lF4MmQ-WsGin72hfpuFbD_8YW8dNPcY81WwPW1C8dwZyYC6t4Ge54vVHIOm6qaJpM79TzRBKtohleGiw4AGewzTsBE0hikjO_sVCzWtnD7lD5BamGT9xXoixTZPY7UMEqCbfFCTc8EkNU3iOR1QiSxZI7fQLMbvB7sqn5LfYI96wgUzY9NI6raKImYx6bbW1G42nuMGJKj8ETjbWa76VM1wBg0beQhJ0MDo');">F</span>
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuABWxNuNfjuFKUOVj1XUNUPytGne9KGy0wLFC4sWNMB4oMxp07cgG4qjDHbPw59gaURoP-jblEsjNHr7O6NesPJ33hntA2KthyqS7doRv_0gHWc0k4qPJ-18DcLHF0myTYTb3JnSJS02F9d0T--JLLHngnK93ocVUAMAVkgau1zRaRGzwWnJhoSQC7l-PGUybnEODfX-ZOzE-ZBAw39W6JlHpD8t5iCgF9e0ypCt2dPJ6XXGe6RVwBTxD-qfAMH0Vu6PQFj935pZV9q');">U</span>
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA0yrsldrBZrUmyXshkulfHlep2j7IYPT25CBVOTmehod8TG-52YGIaKudr-uAKtIpwGz-oE29CJ2eeA85JRW8a_PbRw3xCC_kJW9NFApJ1KrPQKgDZgH7LDrSXIayZN1VxAahoqKBF0KUTttBmqDga1YkiTVC9yx_Bw2NZX1c_ggd-1JR-3NRMDLtT-ASvpPARuwpwUuZhJnbqyldPo90fwEG0-uE0zXTBjBacj-WkGWdivAYc0vKLGSve3AKXBUykirL5MW1eE3i8');">T</span>
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBhrlK1FKofa073Kx8JBhgqVcGcvWoHJFxFUq0IXsSsXiZyUXwA7ZdnR-_vrHn_X24_PSk3D_c4G9nBHEIAX6IIxiMEjN6WbJZ3yKyjQjtoUBCdsAzrErLLPAwtoR4jNm0XcSi9k2nXyCMXU7GeX6oF3T4hlN8mcvvOh4KnBzV0uhv7u3vNAWi2TGCMUfEsdZFhAWPV2uI7Ps9I1VobsYwjWKgn2LjGSTYB0NS2Z4IXVWE5kN_cMqQG2fv5EbShDnOzadrmP3yrwW9j');">U</span>
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAn-g-awPrKIQ_W1GgZURO6K2QTvFaKOZWdAPc3R-J0peQVkXOvfWPtdrDcqCVZc9YYKsvhm56CsqioDebDHjNaT_tAtCpG_dc9yC8vTXhRhFvmNpzHz7drQ09cnYAmA1GzAroqf1iShYHgiYSG9GSU-tP5HnweUX2kbz5hNqBsVm7WVIu3Jp7StoRl0Ne0Pyc4H8oUv4jS-WNYtYWgyXgVtRBkhdwJkciGvs8ujmHlWN_pDw2Ojksp9Ah4qa910b_avKURoJvh1CCy');">R</span>
            <span class="char-mask" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDdVZ6vkSXxKVwEMx_8V37VxW_PgYkeYHZeVuuCEOPl6JLRrJsNpTBXj4NCod4lOP8NiBoj-q21SMy_F-xLhEqZiaoJXsBqJJzlqwxPXlYFlOOuyUEDS6EXv9gEDqUTct5GM9CW_Fz1iZrn4H_Fg5uZ2ZXJmNgJrblbWd8LaY9hjzsagcKZH3JmzMma3_786S6x6TifeJlCjv6HxeeEDrWxKBq-ttCQGyeGaYgkdlXPuQGvvaWSAdyBWeiyRyEkb7ZfyTr6cr896y-7');">O</span>
        </h1>
    </div>

    <p class="hero-description">
        {{ 'FUTURO.HERO_SUBTITLE' | translate }}
    </p>
</section>
