.container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.actions {
    margin-top: 30px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}