<ion-content [fullscreen]="true" class="home-content">

  <!-- Header Component -->
  <app-home-header></app-home-header>

  <!-- Main Content Section (With Background Image) -->
  <div class="main-card" (click)="onBackgroundTap($event)">
    <!-- Ripple Effect Container -->
    <div class="ripple-container">
      <div *ngFor="let ripple of ripples" class="ripple" [style.left.px]="ripple.x" [style.top.px]="ripple.y">
      </div>
    </div>

    <div class="buttons-container">
      <app-button-home icon="time-outline" variant="pasado" [isActive]="selectedButton === 'pasado'"
        (click)="navegarPasado()">
      </app-button-home>

      <app-button-home icon="location-outline" variant="presente" [isActive]="selectedButton === 'presente'"
        (click)="navegarPresente()">
      </app-button-home>

      <app-button-home icon="rocket-outline" variant="futuro" [isActive]="selectedButton === 'futuro'"
        (click)="navegarFuturo()">
      </app-button-home>
    </div>
  </div>

  <!-- Footer Component -->
  <app-home-footer></app-home-footer>

</ion-content>