.home-content {
    --background: #e0e0e0;
    /* Gray background for the top section */
}

.main-card {
    /* background-color: white; Removed to show image */
    position: relative;
    border-top-left-radius: 50% 100px;
    /* Creates the curved effect */
    border-top-right-radius: 0;
    border-bottom-left-radius: 50% 70px;
    border-bottom-right-radius: 50% 70px;
    min-height: 70vh;
    margin-top: -50px;
    /* Overlap with the top section */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.main-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/img/unnamed.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    border-radius: inherit;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 100%;
    max-width: 300px;
    align-items: center;
}

.nav-button {
    --background: #d32f2f;
    /* Red color */
    --color: white;
    --border-radius: 30px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}