:host {
    display: block;
}

.back-btn-custom {
    --color: #444;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: -15px;
    /* Ajuste óptico para alinear con el borde */
    text-transform: none;
    /* Evitar que sea todo mayúsculas si no se desea */
    letter-spacing: 0.5px;

    ion-icon {
        font-size: 1.8rem;
        margin-right: 8px;
        transition: transform 0.3s ease;
    }

    /* Animación Hover */
    &:hover {
        ion-icon {
            transform: translateX(-5px);
        }
    }

    /* Estado Pressed (Feedback Táctil) */
    &.pressed {
        --color: #d50000;
        /* Feedback visual rojo Inacap al presionar */
        opacity: 0.8;
        transform: scale(0.98);
        transition: all 0.1s ease;
    }
}